	<table id="group_list"></table>
<script type="text/javascript">
    $('#group_list').datagrid({
        url:'/admin/group/list',
        queryParams: {
            data: true,
        },
        border: false,
        pageSize: 20,
        rownumbers: true,
        toolbar: [{
            text: '新增用户组',
            iconCls: 'icon-add',
            handler: function(){
                addFrom('新增用户组', '/admin/group/add')
            }
        }, '-', {
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function() {
                var rows = $('#group_list').datagrid('getSelections');
                if (rows.length ==0 || rows.length > 1) {
                    alert('请选择一个项目进行编辑');
                    return false;
                }
                var row = rows[0];
                if (row) {
                    addFrom('编辑用户组', '/admin/group/edit/' + row.id);
                }
            }
        }, {
            text: '删除',
            iconCls: 'icon-remove',
            handler: function() {
                var ids = [];
                var rows = $('#group_list').datagrid('getSelections');
                if (rows.length == 0) {
                    alert('请选择删除项目');
                    return false;
                }
                if (!confirm('确定要删除项目吗？')) return false;
                for (var i = 0; i < rows.length; i++) {
                    ids.push(rows[i].id);
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/group/del',
                    data: {id: ids.join(',')},
                    dataType: 'json',
                    success:function(data){
                        if(data.error == 0){
                            $('#group_list').datagrid('reload');
                        }else{
                            alert(str);
                        }
                    }
                });
            }
        }],
        columns:[[
            {field: 'id', title: 'ID', width: 100},
            {field: 'name', title: '用户组名', width: 120},
            {field: 'role', title: '分组', width: 120},
            {field: 'desc', title: '描述', width: 300},
        ]],
        pagination: true,
        fitColumns: false,
        fit: true,
    });
</script>