{% extends 'treegrid.html' %}

{% block url %}'/admin/group/list'{% endblock %}
{% block toolbar %}
        [{
            text: '新增用户组',
            iconCls: 'icon-add',
            handler: function(){
                addFrom('新增用户组', '/admin/group/add')
            }
        }, '-', {
            id: 'btn_group_edit',
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function() {
                var row = $('#group_list').treegrid('getSelected');
                if (row) {
                    addFrom('编辑用户组', '/admin/group/edit/' + row.id);
                }
            }
        }, {
            id: 'btn_group_remove',
            text: '删除',
            iconCls: 'icon-remove',
            handler: function() {
                var ids = [];
                var rows = $('#group_list').treegrid('getSelections');
                if (rows.length < 1) return false;
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].id == 1) {
                        alert('系统管理员将不被删除');
                        continue;
                    }
                    ids.push(rows[i].id);
                }
                if (!confirm('确定要删除项目吗？')) return false;
                $.ajax({
                    type: 'POST',
                    url: '/admin/group/del',
                    data: {id: ids.join(',')},
                    dataType: 'json',
                    success:function(data){
                        if(data.error == 0){
                            $('#tt').tabs('close', '编辑用户组');
                            $('#group_list').treegrid('reload');
                        }else{
                            alert(str);
                        }
                    }
                });
            }
        }, '-', {
            id: 'btn_group_priv',
            text: '权限',
            iconCls: 'icon-filter',
            handler: function() {
                var row = $('#group_list').treegrid('getSelected');
                if (row) {
                    addFrom('用户组权限', '/admin/group/priv/' + row.id);
                }
            }
        }, '-', {
            id: 'btn_group_orderby',
            text: '保存排序',
            iconCls: 'icon-save',
            handler: function() {
                endEdit();
                // var row = $('#group_list').treegrid('getSelected');
                // if (row) {
                //     addFrom('编辑用户组', '/admin/group/edit/' + row.id);
                // }
            }
        }]
{% endblock %}
{% block columns %}
        [[
            {field: 'id', title: 'ID', width: 50},
            {field: 'name', title: '用户组名', width: 120},
            {field: 'role', title: '分组', width: 120},
            {field: 'desc', title: '描述', width: 300},
            {field: 'orderby', title: '排序', width: 50, editor: 'numberbox'},
        ]]
{% endblock %}
{% block onClickRow %}
            checkToolbarButton();
{% endblock %}
{% block onClickCell %}
            // console.log(field);
            // console.log(row);
            if (field == 'orderby'){
                cancelEdit();
                editingId = row.id
                $('#group_list').treegrid('beginEdit', editingId);
            }else{
                endEdit();
            }
{% endblock %}
{% block onLoadSuccess %}
            $('#btn_group_edit').linkbutton('disable');
            $('#btn_group_remove').linkbutton('disable');
            $('#btn_group_priv').linkbutton('disable');
{% endblock %}
{% block otherjs %}
    function checkToolbarButton(){
        var rows = $('#group_list').treegrid('getSelections');
        if (rows.length == 0 || rows.length > 1) {
            $('#btn_group_edit').linkbutton('disable');
            $('#btn_group_priv').linkbutton('disable');
        } else {
            $('#btn_group_edit').linkbutton('enable');
            $('#btn_group_priv').linkbutton('enable');
        }
        if (rows.length > 0) {
            if (rows.length == 1 && rows[0].id == 1) {
                $('#btn_group_remove').linkbutton('disable');
            } else {
                $('#btn_group_remove').linkbutton('enable');
            }
        } else {
            $('#btn_group_remove').linkbutton('disable');
        }
    }
    function cancelEdit(){
        if (editingId != null){
            $('#group_list').treegrid('cancelEdit', editingId);
            editingId = null;
        }
    }
    function endEdit(id, orderby){
        if (editingId != null){
            $('#group_list').treegrid('endEdit', editingId);
            var row = $('#group_list').treegrid('getSelected');
            $.get('/admin/group/order', {id: row.id, orderby: row.orderby}, function(data){
                $('#group_list').treegrid('reload');
            });
            editingId = null;
        }
    }
{% endblock %}