    <div region="west" split="true" title="菜单" style="width:20%;min-width:180px;max-width:250px;padding:5px;">
        <ul id="menu" class="easyui-tree">
            <li>
                <span>系统菜单</span>
                <ul>
                    <li data-options="state:'opened'">
                        <span>用户</span>
                        <ul>
                            <li data-options="attributes:{'url':'/admin/user'}">
                                <span>用户</span>
                            </li>
                            <li>
                                <span>群组</span>
                            </li>
                            <li>
                                <span>权限</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Program Files</span>
                        <ul>
                            <li>Intel</li>
                            <li>Java</li>
                            <li>Microsoft Office</li>
                            <li>Games</li>
                        </ul>
                    </li>
                    <li>index.html</li>
                    <li>about.html</li>
                    <li>welcome.html</li>
                </ul>
            </li>
        </ul>
    </div>