    <div region="north" border="false" class="group wrap header" style="height:66px;font-size:100%">
        <div class="content">
            <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
                <span>EasyUI</span>
            </div>
            <div id="elogo" class="navbar navbar-left">
                <ul>
                    <li>
                        <a href="/index.php"><img src="../static/images/logo2.png" alt="jQuery EasyUI"/></a>
                    </li>
                </ul>
            </div>
            <div id="navbar-1" class="navbar navbar-right">
                <ul>
                    <li><a href="/index.php">Home</a></li>
                    <li><a href="/demo/main/index.php">Demo</a></li>
                    <li><a href="/tutorial/index.php">Tutorial</a></li>
                    <li><a href="/documentation/index.php">Documentation</a></li>
                    <li><a href="/download/index.php">Download</a></li>
                    <li><a href="/extension/index.php">Extension</a></li>
                    <li><a href="/contact.php">Contact</a></li>
                    <li><a href="/admin/logout">退出</a></li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>