{% extends 'datagrid.html' %}

{% block url %}'/admin/user/list'{% endblock %}
{% block toolbar %}
        [{
            text: '新增用户',
            iconCls: 'icon-add',
            handler: function(){
                addFrom('新增用户', '/admin/user/add')
            }
        }, '-', {
            id:'btn_user_edit',
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function() {
                var row = $('#user_list').datagrid('getSelected');
                if (row) {
                    addFrom('编辑用户', '/admin/user/edit/' + row.id);
                }
            }
        }, {
            id: 'btn_user_remove',
            text: '删除',
            iconCls: 'icon-remove',
            handler: function() {
                if (!confirm('确定要删除项目吗？')) return false;
                var ids = [];
                var rows = $('#user_list').datagrid('getSelections');
                if (rows.length < 1) return false;
                for (var i = 0; i < rows.length; i++) {
                    ids.push(rows[i].id);
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/user/del',
                    data: {id: ids.join(',')},
                    dataType: 'json',
                    success:function(data){
                        if(data.error == 0){
                            $('#tt').tabs('close', '编辑用户');
                            $('#user_list').datagrid('reload');
                        }else{
                            alert(str);
                        }
                    }
                });
            }
        }]
{% endblock %}
{% block columns %}
        [[
            {field: 'id', title: 'ID', width: 60},
            {field: 'account', title: '帐号', width: 100},
            {field: 'realname', title: '真实姓名', width: 100},
            {field: 'nickname', title: '昵称', width: 100},
            {field: 'group', title: '用户组', width: 100},
            {field: 'email', title: '电子邮件', width: 100},
            {field: 'phone', title: '手机', width: 100},
            {field: 'gender', title: '性别', width: 100},
            {field: 'visits', title: '访问次数', width: 100},
            {field: 'joined', title: '加入时间', width: 130},
            {field: 'locked', title: '锁定时间', width: 130,
                formatter: function(value, data) {
                    if (data.islock == 0) {
                        return '未锁定';
                    } else {
                        return value;
                    }
            }},
        ]]
{% endblock %}
{% block onClickRow %}
            checkUserToolbarButton();
{% endblock %}
{% block onDblClickRow %}
            $('#user_list').datagrid('unselectAll');
            $('#user_list').datagrid('checkRow', index);
            checkUserToolbarButton();
{% endblock %}
{% block onLoadSuccess %}
            $('#btn_user_edit').linkbutton('disable');
            $('#btn_user_remove').linkbutton('disable');
{% endblock %}
{% block otherjs %}
    function checkUserToolbarButton(){
        var rows = $('#user_list').datagrid('getSelections');
        if (rows.length ==0 || rows.length > 1) {
            $('#btn_user_edit').linkbutton('disable');
        } else {
            $('#btn_user_edit').linkbutton('enable');
        }
        if (rows.length > 0) {
            $('#btn_user_remove').linkbutton('enable');
        } else {
            $('#btn_user_remove').linkbutton('disable');
        }
    }
{% endblock %}