	<!-- <div id="p" class="easyui-panel" title="Basic Panel" style="padding:0;width:100%;height:100%;"> -->
		<table id="user_list"></table>
	<!-- </div> -->
<script type="text/javascript">
    $('#user_list').datagrid({
        url:'/admin/user/list',
        queryParams: {
            data: true,
        },
        // width: '100%',
        // height: 400,
        // height: function(){
        //      return $(window).height()-65;
        // },
        border: false,
        pageSize: 20,
        rownumbers: true,
        toolbar: [{
            text: '新增用户',
            iconCls: 'icon-add',
            handler: function(){
                addFrom('新增用户', '/admin/user/add')
            }
        }, '-', {
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function() {
                var rows = $('#user_list').datagrid('getSelections');
                if (rows.length ==0 || rows.length > 1) {
                    alert('请选择一个项目进行编辑');
                    return false;
                }
                var row = rows[0];
                if (row) {
                    addFrom('编辑用户', '/admin/user/edit?id=' + row.id);
                }
            }
        }, {
            text: '删除',
            iconCls: 'icon-remove',
            handler: function() {
                var ids = [];
                var rows = $('#user_list').datagrid('getSelections');
                if (rows.length == 0) {
                    alert('请选择删除项目');
                    return false;
                }
                if (!confirm('确定要删除项目吗？')) return false;
                for (var i = 0; i < rows.length; i++) {
                    ids.push(rows[i].id);
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/user/del',
                    data: {id: ids.join(',')},
                    dataType: 'json',
                    success:function(data){
                        if(data.error == 0){
                            $('#user_list').datagrid('reload');
                        }else{
                            alert(str);
                        }
                    }
                });
            }
        }],
        columns:[[
            {field: 'id', title: 'ID', width: 100},
            {field: 'account', title: '帐号', width: 100},
            {field: 'realname', title: '真实姓名', width: 100},
            {field: 'nickname', title: '昵称', width: 100},
            {field: 'email', title: '电子邮件', width: 100},
            {field: 'phone', title: '手机', width: 100},
            {field: 'gender', title: '性别', width: 100},
            {field: 'visits', title: '访问次数', width: 100},
            {field: 'joined', title: '加入时间', width: 130},
            {field: 'locked', title: '锁定时间', width: 130,
                formatter: function(value, data) {
                    if (data.islock == 0) {
                        return '未锁定';
                    } else {
                        return value;
                    }
            }},
        ]],
        pagination: true,
        fitColumns: false,
        fit: true,
    });
</script>